In [2]:
import pandas as pd
df = pd.read_csv("sample_data.csv")
df

,Name,Activity,Skill Level,Availibility,Location Preference
0,Emma Smith,Hiking,1,"M: 8 am - 10 am, T: 1 pm - 3 pm, W: 5 pm - 7 p...",1
1,Liam Johnson,Writing,2,"M: 10 am - 12 pm, T: 4 pm - 6 pm, W: 2 pm - 4 ...",3
2,Olivia Brown,Biking,3,"M: 9 am - 11 am, T: 3 pm - 5 pm, W: 6 pm - 8 p...",5
3,Noah Davis,Swimming,4,"M: 11 am - 1 pm, T: 2 pm - 4 pm, W: 4 pm - 6 p...",2
4,Ava Wilson,Painting,3,"M: 1 pm - 3 pm, T: 10 am - 12 pm, W: 3 pm - 5 ...",4
...,...,...,...,...,...
95,Lucas King,Birdwatching,3,"M: 3 pm - 5 pm, T: 12 pm - 2 pm, W: 2 pm - 4 p...",3
96,Noah Wright,Fishing,5,"M: 5 pm - 7 pm, T: 9 am - 11 am, W: 1 pm - 3 p...",5
97,Mason Lopez,Ziplining,2,"M: 2 pm - 4 pm, T: 10 am - 12 pm, W: 7 pm - 9 ...",2
98,Elijah Hill,Roller derby,4,"M: 4 pm - 6 pm, T: 1 pm - 3 pm, W: 8 pm - 10 p...",4
99,Logan Scott,Kite flying,1,"M: 6 pm - 8 pm, T: 2 pm - 4 pm, W: 6 pm - 8 pm...",2

In [14]:
#df.groupby("Availibility ").agg("count").reset_index()
availability_groups = df.groupby('Availibility ')['Name '].apply(list)
display(availability_groups)

Availibility
M: 1 pm - 3 pm, T: 10 am - 12 pm, W: 3 pm - 5 pm, TH: 8 pm - 10 pm, F: 9 am - 11 am                                         [Ava Wilson]
M: 1 pm - 3 pm, T: 11 am - 1 pm, W: 4 pm - 6 pm, TH: 6 pm - 8 pm, F: 9 am - 11 am      [Chloe Young, Elizabeth Turner, Ava Murphy, Sc...
M: 1 pm - 3 pm, T: 11 am - 1 pm, W: 4 pm - 6 pm, TH: 7 pm - 9 pm, F: 9 am - 11 am      [Elizabeth Martinez, Mason Scott, Ethan Collin...
M: 10 am - 12 pm, T: 3 pm - 5 pm, W: 4 pm - 6 pm, TH: 8 am - 10 am, F: 1 pm - 3 pm     [Evelyn Martin, Jackson Wright, Harper Parker,...
M: 10 am - 12 pm, T: 4 pm - 6 pm, W: 2 pm - 4 pm, TH: 7 pm - 9 pm, F: 1 pm - 3 pm                                         [Liam Johnson]
M: 10 am - 12 pm, T: 4 pm - 6 pm, W: 3 pm - 5 pm, TH: 9 pm - 11 pm, F: 11 am - 1 pm    [Lily Allen, Emily Roberts, Olivia Bell, Ella ...
M: 11 am - 1 pm, T: 2 pm - 4 pm, W: 4 pm - 6 pm, TH: 10 pm - 12 am, F: 12 pm - 2 pm                                         [Noah Davis]
M: 11 am - 1 pm, T: 4 pm - 6 pm, W: 3 pm - 5 pm, TH: 10 pm - 12 am, F: 12 pm - 2 pm    [Emily Garcia, Olivia Hill, Aiden Edwards, Cha...
M: 2 pm - 4 pm, T: 10 am - 12 pm, W: 7 pm - 9 pm, TH: 9 am - 11 am, F: 3 pm - 5 pm     [Ella Rodriguez, Alexander Baker, Noah Morris,...
M: 2 pm - 4 pm, T: 11 am - 1 pm, W: 7 pm - 9 pm, TH: 9 am - 11 am, F: 3 pm - 5 pm                       [Isabella Jones, Avery Robinson]
M: 3 pm - 5 pm, T: 12 pm - 2 pm, W: 1 pm - 3 pm, TH: 7 am - 9 am, F: 10 am - 12 pm                       [Sophia Taylor, Scarlett Clark]
M: 3 pm - 5 pm, T: 12 pm - 2 pm, W: 2 pm - 4 pm, TH: 8 am - 10 am, F: 10 am - 12 pm    [Sofia Robinson, Elijah Green, Liam Stewart, H...
M: 3 pm - 5 pm, T: 2 pm - 4 pm, W: 2 pm - 4 pm, TH: 7 am - 9 am, F: 1 pm - 3 pm        [Aiden Hernandez, Amelia Phillips, Emma Bailey...
M: 4 pm - 6 pm, T: 1 pm - 3 pm, W: 8 pm - 10 pm, TH: 8 am - 10 am, F: 2 pm - 4 pm      [Scarlett Lewis, Sofia Nelson, Mason Rogers, E...
M: 4 pm - 6 pm, T: 9 am - 11 am, W: 5 pm - 7 pm, TH: 6 pm - 8 pm, F: 11 am - 1 pm                          [Mia Miller, Emily Rodriguez]
M: 5 pm - 7 pm, T: 10 am - 12 pm, W: 2 pm - 4 pm, TH: 7 pm - 9 pm, F: 1 pm - 3 pm                                [Amelia White, Mia Lee]
M: 5 pm - 7 pm, T: 9 am - 11 am, W: 1 pm - 3 pm, TH: 6 pm - 8 pm, F: 11 am - 1 pm      [Avery Clark, Logan Adams, Lucas Sanchez, Evel...
M: 6 pm - 8 pm, T: 1 pm - 3 pm, W: 4 pm - 6 pm, TH: 8 am - 10 am, F: 2 pm - 4 pm                   [Charlotte Anderson, Elizabeth Lewis]
M: 6 pm - 8 pm, T: 2 pm - 4 pm, W: 6 pm - 8 pm, TH: 7 am - 9 am, F: 1 pm - 3 pm        [Grace Lee, Evelyn Carter, Elijah Reed, Elizab...
M: 7 am - 9 am, T: 3 pm - 5 pm, W: 5 pm - 7 pm, TH: 8 pm - 10 pm, F: 12 pm - 2 pm      [Harper Walker, Avery Mitchell, Logan Cook, So...
M: 8 am - 10 am, T: 1 pm - 3 pm, W: 5 pm - 7 pm, TH: 9 pm - 11 pm, F: 11 am - 1 pm     [Emma Smith, Abigail Thompson, Lucas Lopez, So...
M: 8 pm - 10 pm, T: 12 pm - 2 pm, W: 4 pm - 6 pm, TH: 10 am - 12 pm, F: 2 pm - 4 pm    [Madison Hall, Scarlett Perez, Alexander Morga...
M: 9 am - 11 am, T: 2 pm - 4 pm, W: 6 pm - 8 pm, TH: 7 pm - 9 pm, F: 10 am - 12 pm     [Harper Harris, Ethan King, Mia Campbell, Isab...
M: 9 am - 11 am, T: 3 pm - 5 pm, W: 6 pm - 8 pm, TH: 8 am - 10 am, F: 2 pm - 4 pm                                         [Olivia Brown]
Name: Name , dtype: object